/* VBLANK Flex Grid System */
/* v 1.0.0 */
/* line 99, scss/v-flex-grid.scss */
.vflex-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  /*ORDER - 1,2,[...] and so on */
  /* occupying space - try twice as large */
  /* MD's */
  /* LG's */
}
/* line 107, scss/v-flex-grid.scss */
.vflex-grid .flexbox {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 100%;
          flex: 1 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 116, scss/v-flex-grid.scss */
.vflex-grid .flexbox.centred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 122, scss/v-flex-grid.scss */
.vflex-grid .flexbox.span-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
}
/* line 126, scss/v-flex-grid.scss */
.vflex-grid .flexbox.span-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 33.333333%;
          flex: 0 33.333333%;
}
/* line 130, scss/v-flex-grid.scss */
.vflex-grid .flexbox.span-3-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 66.666667%;
          flex: 0 66.666667%;
}
/* line 134, scss/v-flex-grid.scss */
.vflex-grid .flexbox.span-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 25%;
          flex: 0 25%;
}
/* line 138, scss/v-flex-grid.scss */
.vflex-grid .flexbox.span-4-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 75%;
          flex: 0 75%;
}
/* line 142, scss/v-flex-grid.scss */
.vflex-grid .flexbox.span-golden-l {
  -webkit-box-flex: 0;
      -ms-flex: 0 61.7647058824%;
          flex: 0 61.7647058824%;
}
/* line 146, scss/v-flex-grid.scss */
.vflex-grid .flexbox.span-golden-s {
  -webkit-box-flex: 0;
      -ms-flex: 0 38.2352941176%;
          flex: 0 38.2352941176%;
}
/* line 150, scss/v-flex-grid.scss */
.vflex-grid .flexbox.twice {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
@media only screen and (min-width: 768px) {
  /* line 154, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 50%;
            flex: 0 50%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 161, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 33.333333%;
            flex: 0 33.333333%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 168, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-3-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 66.666667%;
            flex: 0 66.666667%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 175, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 25%;
            flex: 0 25%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 182, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-4-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 75%;
            flex: 0 75%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 189, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-golden-l {
    -webkit-box-flex: 0;
        -ms-flex: 0 61.7647058824%;
            flex: 0 61.7647058824%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 196, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-golden-s {
    -webkit-box-flex: 0;
        -ms-flex: 0 38.2352941176%;
            flex: 0 38.2352941176%;
  }
}
@media only screen and (min-width: 768px) {
  /* line 204, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (min-width: 768px) {
  /* line 211, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media only screen and (min-width: 768px) {
  /* line 218, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-third {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media only screen and (min-width: 768px) {
  /* line 225, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-fourth {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media only screen and (min-width: 768px) {
  /* line 233, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-twice {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}
@media only screen and (min-width: 996px) {
  /* line 241, scss/v-flex-grid.scss */
  .vflex-grid .md-span-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 50%;
            flex: 0 50%;
  }
}
@media only screen and (min-width: 996px) {
  /* line 248, scss/v-flex-grid.scss */
  .vflex-grid .md-span-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 33.333333%;
            flex: 0 33.333333%;
  }
}
@media only screen and (min-width: 996px) {
  /* line 255, scss/v-flex-grid.scss */
  .vflex-grid .md-span-3-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 66.666667%;
            flex: 0 66.666667%;
  }
}
@media only screen and (min-width: 996px) {
  /* line 262, scss/v-flex-grid.scss */
  .vflex-grid .md-span-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 25%;
            flex: 0 25%;
  }
}
@media only screen and (min-width: 996px) {
  /* line 269, scss/v-flex-grid.scss */
  .vflex-grid .md-span-4-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 75%;
            flex: 0 75%;
  }
}
@media only screen and (min-width: 996px) {
  /* line 276, scss/v-flex-grid.scss */
  .vflex-grid .md-span-golden-l {
    -webkit-box-flex: 0;
        -ms-flex: 0 61.7647058824%;
            flex: 0 61.7647058824%;
  }
}
@media only screen and (min-width: 996px) {
  /* line 283, scss/v-flex-grid.scss */
  .vflex-grid .sm-span-golden-s {
    -webkit-box-flex: 0;
        -ms-flex: 0 38.2352941176%;
            flex: 0 38.2352941176%;
  }
}
@media only screen and (min-width: 996px) {
  /* line 290, scss/v-flex-grid.scss */
  .vflex-grid .md-span-first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (min-width: 996px) {
  /* line 297, scss/v-flex-grid.scss */
  .vflex-grid .md-span-second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media only screen and (min-width: 996px) {
  /* line 304, scss/v-flex-grid.scss */
  .vflex-grid .md-span-third {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media only screen and (min-width: 996px) {
  /* line 311, scss/v-flex-grid.scss */
  .vflex-grid .md-span-fourth {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media only screen and (min-width: 996px) {
  /* line 318, scss/v-flex-grid.scss */
  .vflex-grid .md-span-twice {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 326, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 50%;
            flex: 0 50%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 333, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 33.333333%;
            flex: 0 33.333333%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 340, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-3-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 66.666667%;
            flex: 0 66.666667%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 347, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 25%;
            flex: 0 25%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 354, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-4-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 75%;
            flex: 0 75%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 361, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-golden-l {
    -webkit-box-flex: 0;
        -ms-flex: 0 61.7647058824%;
            flex: 0 61.7647058824%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 368, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-golden-s {
    -webkit-box-flex: 0;
        -ms-flex: 0 38.2352941176%;
            flex: 0 38.2352941176%;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 375, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 382, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-second {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 389, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-third {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 396, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-fourth {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 403, scss/v-flex-grid.scss */
  .vflex-grid .lg-span-twice {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}
