/*
Theme Name: Vernard's Blankslate
Theme URI: http://be.net/vmercader
Author: Vernard Mercader
Author URI: http://be.net/vmercader
Description: If blankslate was fries, this is loaded fries with Nacho cheese and Jalopeños.
Version: 2.5.0
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags: black, blue, white, light, one-column, fluid-layout, responsive-layout, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready,HTML5

*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

/*
 * MAIN THEME CSS?
 * It's not recommended to compile your CSS here.
 * You still need to make a separate theme css.
 * Put it somewhere in /css, or anywhere, however you like.
 * We recommend using compilers like SaSS or Less.  When doing so,
 * we recommend to have a separate folders for SCSS and LESS files
 * and compile their outputs to the CSS folder.
 * when you have a CSS file, you still need to declare it in functions.php
 * for example:
 * wp_register_style( 'styles', V_DIR . '/css/yourmaincss.css', '', '', 'screen' );
 * wp_enqueue_style( 'styles' ); //enqueue it
 */
