/* VBLANK Flex Grid System */
/* v 1.0.0 */

//============================== Math Area

//Fibonacci will be used for Golden Ratio Grid
@function fib($n) {
	$a: 0;
	$b: 1;

	@if( $n < 1) {
		@return 1;
	}

	@for $i from 1 through $n {
		$c: $a + $b;
		$a: $b;
		$b: $c;
	}

	@return $b;
}

@function fibLg() {
  $x: ((fib(7) / (fib(7)+fib(6))) * 100) * 1%;
  @return $x;
}

@function fibSm() {
  $x: ((fib(6) / (fib(7)+fib(6))) * 100) * 1%;
  @return $x;
}

//============================== Variables

//media queries
$w-xs: 480;
$w-sm: 768;
$w-md: 996;
$w-lg: 1200;
$w-xlg: 1600;
$xs: "only screen and (max-width: #{$w-xs}px)";
$sm: "only screen and (min-width: #{$w-sm}px)";
$md: "only screen and (min-width: #{$w-md}px)";
$lg: "only screen and (min-width: #{$w-lg}px)";
$xlg: "only screen and (min-width: #{$w-xlg}px)";

$smallScr: "(min-width: 320px) and (max-width: 479px)";
$strict-xs: "(min-width: #{$w-xs}px) and (max-width: 767px)";
$strict-sm: "(min-width: #{$w-sm}px) and (max-width: 995px)";
$strict-md: "(min-width: #{$w-md}px) and (max-width: 1199px)";
$strict-lg: "(min-width: #{$w-lg}px) and (max-width: 1599px)";

//============================== Mixins

//Since most "html boxes" needed display: block; position: relative, made it general
@mixin boxify {
	display: block;
	position: relative;
}

//Absolute-Zeroes all paddings and margins, in case they were set for a specific tag container
@mixin resetBox {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

//center things on the Y-Axis
@mixin verticalCentre {
	top: 50%;
	transform: translateY(-50%);
}

//remove vertical centering provided by @include verticalCentre; used mostly on media queries
@mixin removeVertical {
	top: auto;
	transform: translate(0%,0%);
}

//add a clear: both fix on after-box dilemmas caused by float: left/right
@mixin Clear {
	&:after {
    content: "";
  	display: block;
  	width: 0px;
    height: 0px;
  	clear: both;
	}
}

//============================== Start Grid

.vflex-grid {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  .flexbox {
    position: relative;
    flex: 1 100%;
    align-self: stretch;
    flex-grow: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .flexbox.centred {
     display: flex;
     justify-content: center;
     align-items: center;
  }

  .flexbox.span-2 {
    flex: 0 50%;
  }

  .flexbox.span-3 {
    flex: 0 33.333333%;
  }

  .flexbox.span-3-2 {
    flex: 0 66.666667%;
  }

  .flexbox.span-4 {
    flex: 0 25%;
  }

  .flexbox.span-4-3 {
    flex: 0 75%;
  }

  .flexbox.span-golden-l {
    flex: 0 fibLg();
  }

  .flexbox.span-golden-s {
    flex: 0 fibSm();
  }

  .flexbox.twice {
    flex-grow: 2;
  }

  .sm-span-2 {

    @media #{$sm} {
      flex: 0 50%;
    }
  }

  .sm-span-3 {

    @media #{$sm} {
      flex: 0 33.333333%;
    }
  }

  .sm-span-3-2 {

    @media #{$sm} {
      flex: 0 66.666667%;
    }
  }

  .sm-span-4 {

    @media #{$sm} {
      flex: 0 25%;
    }
  }

  .sm-span-4-3 {

    @media #{$sm} {
      flex: 0 75%;
    }
  }

  .sm-span-golden-l {

    @media #{$sm} {
      flex: 0 fibLg();
    }
  }

  .sm-span-golden-s {

    @media #{$sm} {
      flex: 0 fibSm();
    }
  }

  /*ORDER - 1,2,[...] and so on */
  .sm-span-first {

    @media #{$sm} {
      order: 1;
    }
  }

  .sm-span-second {

    @media #{$sm} {
      order: 2;
    }
  }

  .sm-span-third {

    @media #{$sm} {
      order: 3;
    }
  }

  .sm-span-fourth {

    @media #{$sm} {
      order: 4;
    }
  }

  /* occupying space - try twice as large */
  .sm-span-twice {

    @media #{$sm} {
      flex-grow: 2;
    }
  }

  /* MD's */
  .md-span-2 {

    @media #{$md} {
      flex: 0 50%;
    }
  }

  .md-span-3 {

    @media #{$md} {
      flex: 0 33.333333%;
    }
  }

  .md-span-3-2 {

    @media #{$md} {
      flex: 0 66.666667%;
    }
  }

  .md-span-4 {

    @media #{$md} {
      flex: 0 25%;
    }
  }

  .md-span-4-3 {

    @media #{$md} {
      flex: 0 75%;
    }
  }

  .md-span-golden-l {

    @media #{$md} {
      flex: 0 fibLg();
    }
  }

  .sm-span-golden-s {

    @media #{$md} {
      flex: 0 fibSm();
    }
  }

  .md-span-first {

    @media #{$md} {
      order: 1;
    }
  }

  .md-span-second {

    @media #{$md} {
      order: 2;
    }
  }

  .md-span-third {

    @media #{$md} {
      order: 3;
    }
  }

  .md-span-fourth {

    @media #{$md} {
      order: 4;
    }
  }

  .md-span-twice {

    @media #{$md} {
      flex-grow: 2;
    }
  }

  /* LG's */
  .lg-span-2 {

    @media #{$lg} {
      flex: 0 50%;
    }
  }

  .lg-span-3 {

    @media #{$lg} {
      flex: 0 33.333333%;
    }
  }

  .lg-span-3-2 {

    @media #{$lg} {
      flex: 0 66.666667%;
    }
  }

  .lg-span-4 {

    @media #{$lg} {
      flex: 0 25%;
    }
  }

  .lg-span-4-3 {

    @media #{$lg} {
      flex: 0 75%;
    }
  }

  .lg-span-golden-l {

    @media #{$lg} {
      flex: 0 fibLg();
    }
  }

  .lg-span-golden-s {

    @media #{$lg} {
      flex: 0 fibSm();
    }
  }

  .lg-span-first {

    @media #{$lg} {
      order: 1;
    }
  }

  .lg-span-second {

    @media #{$lg} {
      order: 2;
    }
  }

  .lg-span-third {

    @media #{$lg} {
      order: 3;
    }
  }

  .lg-span-fourth {

    @media #{$lg} {
      order: 4;
    }
  }

  .lg-span-twice {

    @media #{$lg} {
      flex-grow: 2;
    }
  }
}
